/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Estilo para o conteúdo de cada tela */
  .content {
    background-color: #A1E3B8;
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Logo - Exibido apenas na segunda e terceira tela */
  .logo {
    width: 150px; /* Aumentando o tamanho da logo */
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
  }
  
  /* Títulos */
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #4A4A4A;
    margin-bottom: 20px;
  }
  
  /* Botões */
  .opcao-btn {
    background-color: #2B8D60;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px 0;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
  }
  
  .opcao-btn:hover {
    background-color: #238B50;
  }
  
  .opcao-btn.selected {
    background-color: #1C703F; /* Cor do botão quando selecionado */
  }
  
  .entrar-button {
    background-color: #2B8D60;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
  }
  
  .entrar-button:hover {
    background-color: #238B50;
  }
  
  /* Campos de entrada */
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  /* Links */
  .cadastro-link, .login-link {
    margin-top: 10px;
  }
  
  a {
    color: #2B8D60;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Adiciona um pouco de espaçamento para elementos */
  .options {
    margin-top: 10px;
  }
  
  /* Ajustes para telas pequenas */
  @media (max-width: 480px) {
    .content {
      padding: 20px;
    }
  
    .title {
      font-size: 20px;
    }
  
    .opcao-btn {
      font-size: 14px;
    }
  
    .entrar-button {
      font-size: 14px;
    }
  }
  